<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1517845732/1517845731.jpg);">
  <div class="container">
    <h1><%= "All the movies in list #{@list.name}" %></h1>
    <p>Here we are going to post all the movies divided in lists.</p>
    <% unless @names.include?(@list.name) %>
      <%= link_to "Add bookmark", new_list_bookmark_path(@list), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<div class="cards p-1">
  <% @list.movies.each do |movie| %>
    <div class="card-category">
      <div class="card-product">
        <img src="<%= movie.poster_url %>" />
        <div class="card-product-infos">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <div class="d-flex justify-content-between align-items-center">
          <p><%= movie.rating %></p>
            <p>
            <% unless @names.include?(@list.name) %>
              <%= link_to '🗑',
                bookmark_path(Bookmark.find_by(movie_id: movie, list_id: params[:id])),
                class: 'btn',
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
